<%= stylesheet_link_tag "main" %>
<center>
<div id="background">
	<div id="signin_box" style="opacity:.75">
		<div class="innerContent">
			<p class="top">Login</p>


		</div>
	</div>
	<div id="signin">
		<%= form_tag("/home/index", :method => "get") do %>
			<div id="textUserPass">Username</div>
			<input id="userPass" type="text" />
			<br />
			<br />
			<div id="textUserPass">Password</div>			
			<input id="userPass" type="text" />
			<br />
			<br />
			<div id="textUserPass" style="position:relative; left:-170px;">
				<input type="checkbox" />Remember Me
				<div id="submit">
					<%= link_to "Login", '/home/index' %>
				</div>
			</div>
			<div id="regLost">
				<a href="#">Register</a> | <a href="#">Lost Your Password?</a>
			</div>
		<% end %>
	</div>
</div>
</center>

