<%= stylesheet_link_tag "main" %>
<div id="signin_box">
<div class="innerContent">
<p class="top">Login<hr /></p>

<div id="signin">
	<%= form_tag("/home/index", :method => "get") do %>
		<p>User Name: <input type="text" /></p>
		<p>Password: <input type="text" /></p>
		<input type="submit" value="Log in" />
	<% end %>
</div>
</div>
</div>

